---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>


  <div class="post-content" itemprop="articleBody">
    {% include toc.html html=content h_max=3 %}
    {{ content }}
  </div>

  <hr />
  {% assign lessons = site.lessons | where:"chapter", page.chapter %}
  {% for lesson in lessons %}
    {% if lesson.url == page.url %}
      {% assign prev_lesson = lesson.previous %}
      {% assign next_lesson = lesson.next %}
    {% endif %}
  {% endfor %}

  <div class="PageNavigation">
    {% if prev_lesson %}
      <a class="prev" href="{{ prev_lesson.url | relative_url }}">&laquo; {{ prev_lesson.title }}</a>
    {% endif %}
    {% if next_lesson %}
      <a class="next" href="{{ next_lesson.url | relative_url }}">{{ next_lesson.title }} &raquo;</a>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
